/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.intro{
    height: 100vh;
    background-color: rgb(17, 89, 155);
}

.im3{
    position: absolute;
     width: 700px;
    height: 469px;
     top: 284px; 
    background: url(../../img/im3.png)center center/cover no-repeat;
    background-size:cover;
}

.im4{
    position: absolute;
    width: 480px;
    height: 390px; 
    left: 457px;
    top: 20px;
    background: url(../../img/im4.png) center center/cover no-repeat;
    background-size:cover;
}

.message{
    position: absolute;
    width: 428px;
    height: 113px;
    left: 50px;
    top: 100px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.submit{
    position: absolute;
    width: 120px;
    height: 29px;
    left: 170px;
    top: 230px;
    
    background: #9DDDEB;
    backdrop-filter: blur(2px);
    border-radius: 68px;
}

.submit:hover, .submit:focus{
    background: #46c3e0;
}