/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

html{
    box-sizing: border-box;
    max-width: 1920px;
    max-height: 1080px;

}
/* *, *::before, *::after{
    box-sizing: inherit;
} */

/* .wrapper{
    max-width: 1060px;
    margin: 0 auto;
} */



.intro{
    height:100vh; 
    background-color: rgb(17, 89, 155);
}

.im1{
    position: absolute;
    width: 810px;
    height: 670px ; 
    left: 0px;
    top: 0px;

    background: url(../img/im1.png) center center/cover no-repeat;
}

.intro_title{
    position: absolute;
    width: 800px;
    height: 179px;
    left: 20px;
    top: 400px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.rect{
    box-sizing: border-box;

    position: absolute;
    width: 450px;
    height: 620px;
    left: 800px;
    top: 0px;

    background: #FFF7F7;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25)
}

/**/

.nam{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 40px;
    top: 190px;

    background: #9DDDEB;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 68px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.pas{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 40px;
    top: 355px;

    background: #9DDDEB;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 68px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.text-log{
    position: absolute;
    width: 237px;
    height: 100px;
    left: 45px;
    top: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: center;

    color: #000000;
}

.text-pas{
    position: absolute;
    width: 337px;
    height: 105px;
    left: 45px;
    top: 260px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: center;

    color: #000000;
}

.login_button{
    position: absolute;
    width: 126px;
    height: 47px;
    left: 170px;
    top: 450px;

    background: #9DDDEB;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 68px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
}

.registration_button{
    position: absolute;
    width: 258px;
    height: 47px;
    left: 105px;
    top: 520px;

    background: #9DDDEB;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 68px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;

}

.login_button:hover, .login_button:focus{
    background: #55cbe5;
}

.registration_button:hover, .login_button:focus{
    background: #55cbe5;
}

