body,html{
    margin: 0px;
    padding: 0px;
    background-color: #37393A;
    color: white;
}

header{
    
    margin-top: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 100px;
        margin-right: 25px;
    }
    h1{
        font-size: 80px;
        font-family: 'Nunito', sans-serif;
    }
}


.menu{
    .tagline{
        font-family: 'Helvetica';
        text-align: center;
        font-size: 23px;
        margin-top: 0px;
    }

    .game-select-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 120px;

    .game-select{
        width: 250px;
        background-color: #6A6A6A;
        border-radius: 10px;
        padding: 25px;
        text-align: center;
        margin: 30px;

        img{
            height: 110px;
        }
        h2{
            font-family: Helvetica;
            margin-top: 50px;
            font-weight: 100;
        }
        p{
            color: #C7D3DD;
            font-family: 'Roboto';
            font-size: 18px;
        }
    }

    .game-select:hover{
        animation-name: highlite;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
    
    }

}

.game{
    .score-bar{
        width: 650px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto';
        color: #CECECE;
        .game-mode{
            font-family: helvetica;
            font-size: 20px;
            color: white;
        }
        
    }

    img{
        display: block;
        width: 350px;
        margin: 30px auto;

        
    }

    div.grid{
        width: 700px;
        margin: 30px auto;
        text-align: center;
        padding: 0px;
        div{
            list-style: none;
            display: inline-block;
            background-color: #6A6A6A;
            padding: 15px 0px;
            border-radius: 5px;
            font-family: 'Helvetica';
            margin: 20px 50px;
            font-size: 20px;
        }
    }

    div.grid div:hover{
        cursor:pointer;
    }
    .note{
        text-align: center;
        font-family: 'Helvetica';
        font-size: 20px;
    }
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.end{
    margin-top:150px;
    text-align: center;
    font-family: 'Roboto';
    h2{
        color: #77B6EA;
        font-size: 50px;
        margin:0px;
        font-weight: 10;
    }
    h3{
        color:#DE6B48;
        margin:0px;
        font-weight: 10;
        
    }

    p{
        color:#F5D3A0;
        font-size: 20px;
        margin-top:30px;
    }

    .button{
        background-color:#6a6a6a;
        padding: 15px;
        display: block;
        width: 150px;
        margin: 70px auto;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 20;
        text-decoration: none;
        color: white;
    }

    .button:hover{
        animation-name: highlite;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
}

@keyframes highlite{
    0% {
        border: 1px solid white;
   }
   100% {
        border: 4px solid white;
   }
}




@media only screen and (max-width: 700px) {
    header{
        margin-top:0px;
        h1{
            font-size: 30px;
        }
        img{
            height: 50px;
            margin-right: 10px;
        }
    }

    .menu{
        .tagline{
            font-size: 15px;
        }
        .game-select-menu{
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;

            .game-select{
                width: 70vw;
                padding: 15px;
                margin-right: auto;
                margin-left: auto;
                img{
                    height: 50px;
                }
                h2{
                    font-size: 20px;
                    margin-top: 20px;
                }
                p{
                    margin: 0px;
                }
            }
        }

    }
    

    .game{
        .score-bar{
            width: 90vw;
            font-size: 12px;
            .game-mode{
                font-size: 15px;
            }
        }

        div.grid{
            margin-bottom: 8px;
            width: 70vw;
            grid-template-columns: repeat(1, 1fr);
            div{
                display: block;
                margin: 0px;
                margin-top: 10px;
                // padding: 10px 20px;
                font-size: 15px;
                
            }
        }

        img{
            width: 200px;
        }

        .note{
            font-size: 15px;
            margin: 0px;
        }
    }

    .end{
        margin-top: 50px;
    }

}